<h2>All Questions</h2>
<hr>

<div class=".container">

    <%@questions.each do |question|%><br>
     <div class="question-container">
      <div class="question"><span class="author"><%=question.user.username%></span><%=question.question%></div>
      <div class="question-comments"><%question.comments.each do |comment|%>
        <div class="comment"><span class="author"><%=comment.user.username%></span><%=comment.comment%></div>
        <%question.answers.each do |answer|%>
        <div class="answer"><span class="author"><%=answer.user.username%></span><%=answer.answer%></div>
        <%end%>
     <%end%>
    <%end%>

</div>


