<div class="question">
  <div class="stats">
    <span class="num-votes">votes:<%=@question.votes.count%></span>
    <span class="num-answers">answers:<%=@question.answers.count%></span>
    <span class="num-views">visits:<%=@question.visits%></span>
  </div>
  <a href="/questions/<%=@question.id%>">
    <div class="question-text"><h2><%=@question.question%></h2></div>
  </a>
  <div class="author"><%=@question.user.username%></div>
  <div class="question-description"><%=@question.description%></div>
  <form id="new_comment_button" action="/questions/<%=@question.id%>/comments" method="get">
    <input type="submit" value="add comment">
  </form>
  <form id="upvote button" action="/votes/<%=@question.id%>/upvote" method="post">
    <input type="submit" value="up vote">
    <input type="hidden" name="voteable_type" value="Question">
  </form>
  <form id="downvote button" action="/votes/<%=@question.id%>/downvote" method="post">
    <input type="submit" value="down vote">
    <input type="hidden" name="voteable_type" value="Question">
  </form>
</div>
<br>
<div class="question-comments">
  <%@question.comments.each do |comment|%>
  <div class="comment">
    <span class="author"><%=comment.user.username%></span><br>
    <%=comment.comment%>
  </div>
</div>
<%end%>

<br>
<div class="answer">
 <%@question.answers.each do |answer|%>
    <span class="author"><%=answer.user.username%></span><br>
    <%=answer.answer%>
    <br><br>
  <%end%>
</div>
 <br>

<div class="errors">
  <%if @errors%>
    <%@errors.each do |error|%>
      <div class="error">***<%=error%>***</div>
    <%end%>
  <%end%>
</div>

<div class="submit-answer">
  <h2>Your Answer:</h2>
  <form action="/questions/<%=@question.id%>/answers" method="post">
    <textarea rows="10" cols="50" id="answer-text" name="answer"><%=@answer_text%></textarea>
    <input type="submit" value="Post Your Answer">
  </form>
</div>
