<h3><%= @user.username %>'s Activity Statistics:</h3>
<%= @user.answers.length %> Answers<br>
<%= @user.questions.length %> Questions<br>




<h3>All Post Activity:</h3>
<h4>Questions:</h4>
<% @user.questions.each do |question| %>
<div> <%= question.question %> </div>
<% end %>
<h4>Answers:</h4>
<% @user.answers.each do |answer| %>
<div> <%= answer.answer %> </div>
<% end %>
<h4>Comments:</h4>
<% @user.comments.each do |comment| %>
<div><%= comment.comment %> </div>
<% end %>


